{
  "controlStyles[0].target": "Taskbar.TaskbarFrame#TaskbarFrame",
  "controlStyles[0].styles[0]": "MaxWidth:=2300",
  "controlStyles[0].styles[1]": "HorizontalAlignment=Auto",
  "controlStyles[0].styles[2]": "Width=Auto",
  "controlStyles[0].styles[3]": "MinWidth:=1600",
  "controlStyles[1].target": "Taskbar.TaskbarFrame#TaskbarFrame > Grid#RootGrid",
  "controlStyles[1].styles[0]": "Margin=30,0,30,5",
  "controlStyles[1].styles[1]": "BorderThickness=$BorderThickness",
  "controlStyles[1].styles[2]": "BorderBrush:=$BorderBrush",
  "controlStyles[1].styles[3]": "CornerRadius=$CornerRadius",
  "controlStyles[1].styles[4]": "Background:=Transparent",
  "controlStyles[2].target": "Rectangle#BackgroundFill",
  "controlStyles[2].styles[0]": "Visibility=Visible",
  "controlStyles[2].styles[1]": "Fill:=$Background",
  "controlStyles[3].target": "Rectangle#BackgroundStroke",
  "controlStyles[3].styles[0]": "Visibility=Collapsed",
  "controlStyles[4].target": "Taskbar.AugmentedEntryPointButton#AugmentedEntryPointButton > Taskbar.TaskListButtonPanel#ExperienceToggleButtonRootPanel",
  "controlStyles[4].styles[0]": "Margin=4",
  "controlStyles[4].styles[1]": "Background:=$ElementBGG",
  "controlStyles[4].styles[2]": "CornerRadius=10",
  "controlStyles[4].styles[3]": "HorizontalAlignment=Left",
  "controlStyles[5].target": "Grid#SystemTrayFrameGrid",
  "controlStyles[5].styles[0]": "Margin=0,0,-250,0",
  "controlStyles[5].styles[1]": "RenderTransform:=<TranslateTransform X=\"-435\" Y=\"-2\"/>",
  "controlStyles[5].styles[2]": "Padding=10",
  "controlStyles[5].styles[3]": "Background:=$ElementBGG",
  "controlStyles[5].styles[4]": "CornerRadius=10",
  "controlStyles[5].styles[5]": "VerticalAlignment=Left",
  "controlStyles[6].target": "SystemTray.ChevronIconView",
  "controlStyles[6].styles[0]": "Padding=$TrayPadding",
  "controlStyles[6].styles[1]": "CornerRadius=10",
  "controlStyles[7].target": "SystemTray.NotifyIconView#NotifyItemIcon",
  "controlStyles[7].styles[0]": "Padding=$TrayPadding",
  "controlStyles[7].styles[1]": "CornerRadius=10",
  "controlStyles[8].target": "SystemTray.OmniButton",
  "controlStyles[8].styles[0]": "Padding=$TrayPadding",
  "controlStyles[8].styles[1]": "CornerRadius=10",
  "controlStyles[9].target": "SystemTray.CopilotIcon",
  "controlStyles[9].styles[0]": "Padding=$TrayPadding",
  "controlStyles[10].target": "SystemTray.OmniButton#NotificationCenterButton > Grid > ContentPresenter > ItemsPresenter > StackPanel > ContentPresenter > systemtray:IconView#SystemTrayIcon > Grid",
  "controlStyles[10].styles[0]": "Padding=$TrayPadding",
  "controlStyles[11].target": "SystemTray.IconView#SystemTrayIcon > Grid#ContainerGrid > ContentPresenter#ContentPresenter > Grid#ContentGrid > SystemTray.TextIconContent > Grid#ContainerGrid",
  "controlStyles[11].styles[0]": "Padding=0",
  "controlStyles[11].styles[1]": "CornerRadius=10",
  "controlStyles[12].target": "SystemTray.StackListView#IconStack > ItemsPresenter > StackPanel > ContentPresenter > SystemTray.IconView#SystemTrayIcon",
  "controlStyles[12].styles[0]": "Padding=0",
  "controlStyles[13].target": "SystemTray.Stack#ShowDesktopStack",
  "controlStyles[13].styles[0]": "Visibility=Visible",
  "controlStyles[14].target": "Taskbar.Gripper#GripperControl",
  "controlStyles[14].styles[0]": "Width=Auto",
  "controlStyles[14].styles[1]": "MinWidth=24",
  "controlStyles[15].target": "Windows.UI.Xaml.Controls.Grid#AugmentedEntryPointContentGrid",
  "controlStyles[15].styles[0]": "Margin=4,0,0,0",
  "controlStyles[15].styles[1]": "HorizontalAlignment=Left",
  "controlStyles[16].target": "TextBlock#TimeInnerTextBlock",
  "controlStyles[16].styles[0]": "FontSize=25",
  "controlStyles[16].styles[1]": "FontFamily=vivo Sans EN VF",
  "controlStyles[16].styles[2]": "Margin=0",
  "controlStyles[16].styles[3]": "Padding=0",
  "controlStyles[16].styles[4]": "RenderTransform:=<TranslateTransform X=\"0\" Y=\"2\" />",
  "controlStyles[17].target": "TextBlock#DateInnerTextBlock",
  "controlStyles[17].styles[0]": "Visibility=Collapsed",
  "controlStyles[17].styles[1]": "RenderTransform:=<TranslateTransform X=\"0\" Y=\"-9\" />",
  "controlStyles[17].styles[2]": "FontSize=11",
  "controlStyles[17].styles[3]": "FontFamily=vivo Sans EN VF",
  "controlStyles[18].target": "TextBlock#InnerTextBlock[Text=]",
  "controlStyles[18].styles[0]": "Text=",
  "controlStyles[19].target": "Windows.UI.Xaml.Controls.Grid#ConfirmatorMainGrid",
  "controlStyles[19].styles[0]": "CornerRadius=22",
  "controlStyles[19].styles[1]": "BorderThickness=$BorderThickness",
  "controlStyles[19].styles[2]": "BorderBrush:=$BorderBrush",
  "controlStyles[19].styles[3]": "Background:=$Background",
  "controlStyles[20].target": "TextBlock#SearchBoxTextBlock",
  "controlStyles[20].styles[0]": "Text=Search This Precision",
  "controlStyles[20].styles[1]": "FontSize=10",
  "controlStyles[20].styles[2]": "FontFamily=vivo Sans EN VF",
  "controlStyles[21].target": "Taskbar.TaskbarFrame#TaskbarFrame > Border#BackgroundElement",
  "controlStyles[21].styles[0]": "CornerRadius=$CornerRadius",
  "controlStyles[21].styles[1]": "BorderThickness=$BorderThickness",
  "controlStyles[21].styles[2]": "BorderBrush:=$BorderBrush",
  "controlStyles[21].styles[3]": "Background:=$Background",
  "styleConstants[0]": "Background=<WindhawkBlur BlurAmount=\"15\" TintColor=\"#20808080\"/>",
  "styleConstants[1]": "BorderThickness=0.3,1,0.3,0.3",
  "styleConstants[2]": "CornerRadius=20",
  "styleConstants[3]": "TrayPadding=2"
}